<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="adsense">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8002214670454767"
    crossorigin="anonymous"></script>
  <!-- 수평형 광고 -->
  <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-8002214670454767"
    data-ad-slot="6356961766"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</th:block>
</html>