<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EL733GSGGN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-EL733GSGGN');
  </script>

  <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
  <script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "cc021497d20570";
    if(window.wcs) {
      wcs_do();
    }
  </script>

  <!-- Cloudflare Web Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "31367161a13b4f87a962f2afece92fbd"}'></script>
  <!-- End Cloudflare Web Analytics -->

  <div id="loader" class="loader hidden">
    <div class="loader_wrap">
      <img src="/static/images/gear.gif" class="gear" />
    </div>
  </div>
</th:block>
</html>