<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
  <meta charset="UTF-8">
  <th:block th:if="${menu}">
    <meta name="description" th:content="${menu.description}" />
    <meta name="keywords" th:content="${menu.keywords}" />
  </th:block>
  <th:block th:unless="${menu}">
    <meta name="description" content="Puter의 공작소에 오신걸 환영합니다. 다양한 도구들을 사용해 보세요." />
  </th:block>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title th:text="${title}"></title>
  <meta name="google-site-verification" content="ytP_CTlC_IE7wUbi15zdQ-71dinhMAuJIappIIQ_bfY" />
  <meta name="naver-site-verification" content="dac30b7a14acc19bfac759b28b531edb19196b98" />
  <th:block th:replace="~{common/favicon :: favicon}"></th:block>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" rel="stylesheet">
  <!-- STYLESHEETS -->
  <style>
    [fuse-cloak],
    .fuse-cloak {
      display: none !important;
    }

    .hidden {
      display: none !important;
      visibility: hidden !important;
    }
  </style>
  <!-- Icons.css -->
  <link type="text/css" rel="stylesheet" href="/static/icons/fuse-icon-font/style.css">
  <!-- Animate.css -->
  <link type="text/css" rel="stylesheet" href="/static/vendor/animate.css/animate.min.css">
  <!-- PNotify -->
  <link type="text/css" rel="stylesheet" href="/static/vendor/pnotify/pnotify.custom.min.css">
  <!-- Nvd3 - D3 Charts -->
  <link type="text/css" rel="stylesheet" href="/static/vendor/nvd3/build/nv.d3.min.css" />
  <!-- Perfect Scrollbar -->
  <link type="text/css" rel="stylesheet" href="/static/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css" />
  <!-- Fuse Html -->
  <link type="text/css" rel="stylesheet" href="/static/vendor/fuse-html/fuse-html.min.css" />
  <!-- Main CSS -->
  <link type="text/css" rel="stylesheet" href="/static/css/main.css">
  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet" href="/static/css/custom.css">
  <!-- / STYLESHEETS -->

  <!-- JAVASCRIPT -->
  <!-- jQuery -->
  <script type="text/javascript" src="/static/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Mobile Detect -->
  <script type="text/javascript" src="/static/vendor/mobile-detect/mobile-detect.min.js"></script>
  <!-- Perfect Scrollbar -->
  <script type="text/javascript" src="/static/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
  <!-- Popper.js -->
  <script type="text/javascript" src="/static/vendor/popper.js/index.js"></script>
  <!-- Bootstrap -->
  <script type="text/javascript" src="/static/vendor/bootstrap/bootstrap.min.js"></script>
  <!-- Nvd3 - D3 Charts -->
  <script type="text/javascript" src="/static/vendor/d3/d3.min.js"></script>
  <script type="text/javascript" src="/static/vendor/nvd3/build/nv.d3.min.js"></script>
  <!-- Data tables -->
  <script type="text/javascript" src="/static/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/vendor/datatables-responsive/js/dataTables.responsive.js"></script>
  <!-- PNotify -->
  <script type="text/javascript" src="/static/vendor/pnotify/pnotify.custom.min.js"></script>
  <!-- Fuse Html -->
  <script type="text/javascript" src="/static/vendor/fuse-html/fuse-html.min.js"></script>
  <!-- Main JS -->
  <script type="text/javascript" src="/static/js/main.js"></script>
  <!-- Common JS -->
  <script type="text/javascript" src="/static/js/common/common.js"></script>
  <!-- Loader JS -->
  <script type="text/javascript" src="/static/js/common/loader.js"></script>
  <!-- Global Error Msg JS -->
  <script type="text/javascript" src="/static/js/common/global-err-msg.js"></script>
  <!-- / JAVASCRIPT -->
</th:block>
</html>