<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title th:text="${title}"></title>

  <!--  favicon 설정-->
  <link rel="apple-touch-icon" href="/static/favicon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon-precomposed" href="/static/favicon/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/static/favicon/apple-touch-icon-180x180-precomposed.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#3993ef">
  <meta name="msapplication-TileColor" content="#3993ef">
  <meta name="theme-color" content="#3993ef">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" rel="stylesheet">

  <!-- STYLESHEETS -->
  <style>
    [fuse-cloak],
    .fuse-cloak {
      display: none !important;
    }

    .hidden {
      display: none !important;
      visibility: hidden !important;
    }
  </style>
  <!-- Icons.css -->
  <link type="text/css" rel="stylesheet" href="/static/icons/fuse-icon-font/style.css">
  <!-- Animate.css -->
  <link type="text/css" rel="stylesheet" href="/static/vendor/animate.css/animate.min.css">
  <!-- PNotify -->
  <link type="text/css" rel="stylesheet" href="/static/vendor/pnotify/pnotify.custom.min.css">
  <!-- Nvd3 - D3 Charts -->
  <link type="text/css" rel="stylesheet" href="/static/vendor/nvd3/build/nv.d3.min.css" />
  <!-- Perfect Scrollbar -->
  <link type="text/css" rel="stylesheet" href="/static/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css" />
  <!-- Fuse Html -->
  <link type="text/css" rel="stylesheet" href="/static/vendor/fuse-html/fuse-html.min.css" />
  <!-- Main CSS -->
  <link type="text/css" rel="stylesheet" href="/static/css/main.css">
  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet" href="/static/css/custom.css">
  <!-- / STYLESHEETS -->

  <!-- JAVASCRIPT -->
  <!-- jQuery -->
  <script type="text/javascript" src="/static/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Mobile Detect -->
  <script type="text/javascript" src="/static/vendor/mobile-detect/mobile-detect.min.js"></script>
  <!-- Perfect Scrollbar -->
  <script type="text/javascript" src="/static/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
  <!-- Popper.js -->
  <script type="text/javascript" src="/static/vendor/popper.js/index.js"></script>
  <!-- Bootstrap -->
  <script type="text/javascript" src="/static/vendor/bootstrap/bootstrap.min.js"></script>
  <!-- Nvd3 - D3 Charts -->
  <script type="text/javascript" src="/static/vendor/d3/d3.min.js"></script>
  <script type="text/javascript" src="/static/vendor/nvd3/build/nv.d3.min.js"></script>
  <!-- Data tables -->
  <script type="text/javascript" src="/static/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/vendor/datatables-responsive/js/dataTables.responsive.js"></script>
  <!-- PNotify -->
  <script type="text/javascript" src="/static/vendor/pnotify/pnotify.custom.min.js"></script>
  <!-- Fuse Html -->
  <script type="text/javascript" src="/static/vendor/fuse-html/fuse-html.min.js"></script>
  <!-- Main JS -->
  <script type="text/javascript" src="/static/js/main.js"></script>
  <!-- Common JS -->
  <script type="text/javascript" src="/static/js/pages/common.js"></script>
  <!-- Loader JS -->
  <script type="text/javascript" src="/static/js/loader.js"></script>
  <!-- / JAVASCRIPT -->
</th:block>
</html>