<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="menu">
  <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
    <div class="aside-content-wrapper">
      <div class="aside-content bg-primary-700 text-auto">
        <div class="aside-toolbar">
          <div class="logo">
            <span class="logo-icon" style="line-height: 0px !important;">
              <img src="https://cdn.puter.us/images/apple-touch-icon.png" id="icon-gear" />
            </span>
            <span class="logo-text" th:text="${title}"></span>
          </div>
          <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
            <i class="icon icon-backburger"></i>
          </button>
        </div>
        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">
          <li class="subheader">
            <span>접속 IP : <span th:text="${ip}"></span></span>
          </li>
          <li class="nav-item">
            <a class="nav-link ripple" th:classappend="${mode == 'home'} ? 'active' : ''" href="/" data-url="/">
              <i class="icon s-4 icon-home"></i>
              <span>Home</span>
            </a>
          </li>
          <li class="subheader">
            <span>nas</span>
          </li>
          <li class="nav-item">
            <a class="nav-link ripple" href="https://nas.puter.us" data-url="/">
              <i class="icon s-4 icon-package-variant-closed"></i>
              <span>sinoli</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ripple" href="https://jen.puter.us" data-url="/">
              <i class="icon s-4 icon-package-variant"></i>
              <span>jenkins</span>
            </a>
          </li>
          <li class="subheader">
            <span>tools</span>
          </li>
          <li class="nav-item" th:each="menu : ${menuList}">
            <a class="nav-link ripple" data-url="/" th:href="${menu.uri}" th:classappend="${mode == menu.mode} ? 'active' : ''" >
              <i class="icon s-4" th:classappend="${menu.icon}"></i>
              <span th:text="${menu.name}"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </aside>
</th:block>
</html>