<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="top">
  <!-- HEADER -->
  <div class="page-header bg-secondary text-auto d-flex flex-column justify-content-between px-6 pt-4 pb-0">
    <div class="row no-gutters align-items-start justify-content-between flex-nowrap">
      <button type="button" class="toggle-aside-button btn btn-icon d-block d-lg-none" data-fuse-bar-toggle="aside">
        <i class="icon icon-menu"></i>
      </button>
      <div>
        <span class="h2"></span>
      </div>
    </div>
    <div class="row no-gutters align-items-center project-selection">
      <div class="selected-project h6 px-4 py-2" th:text="${title}"></div>
    </div>
  </div>
  <!-- / HEADER -->
</th:block>
</html>