<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{common/head :: head}"></th:block>
  <script type="text/javascript" src="/static/js/mousetrap.min.js"></script>
  <script type="text/javascript" src="/static/js/sweetalert.min.js"></script>

  <link type="text/css" rel="stylesheet" href="/static/css/pages/admin/shorten-url.css">
</head>
<body class="layout layout-vertical layout-left-navigation layout-below-toolbar">
<main>
  <div id="wrapper">
    <th:block th:replace="~{common/menu :: menu}"></th:block>
    <div class="content-wrapper">
      <div class="content custom-scrollbar">
        <div id="project-dashboard" class="page-layout simple right-sidebar">
          <div class="page-content-wrapper custom-scrollbar">
            <th:block th:replace="~{common/top :: top}"></th:block>
            <!-- CONTENT -->
            <div class="page-content">
              <th:block th:replace="~{common/top-menu :: top-menu}"></th:block>
              <div class="tab-content">
                <div class="tab-pane fade show active p-2" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                  <!-- WIDGET GROUP -->
                  <div class="widget-group row no-gutters">
                    <div class="col-12 p-1">
                      <div class="widget card">
                        <div class="widget-content p-4">
                          <div class="row">
                            <div class="col-12 col-lg-3">
                              <div class="widget card">
                                <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
                                  <div class="col">
                                    <span class="h6">TODAY</span>
                                  </div>
                                </div>
                                <div class="widget-content pt-2 pb-10 d-flex flex-column align-items-center justify-content-center">
                                  <div class="title text-secondary" id="today-redirect-count" style="font-size: 3rem;"></div>
                                  <div class="sub-title h6 text-muted">REDIRECT COUNT</div>
                                </div>
                              </div>
                              <div class="widget card">
                                <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
                                  <div class="col">
                                    <span class="h6">TODAY</span>
                                  </div>
                                </div>
                                <div class="widget-content pt-2 pb-10 d-flex flex-column align-items-center justify-content-center">
                                  <div class="title text-warning" id="today-most-access-ip" style="font-size: 3rem;"></div>
                                  <div class="sub-title h6 text-muted">MOST ACCESS IP</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-lg-9">
                              <div class="widget shortenUrlWidget">
                                <div class="widget-header px-4 row no-gutters align-items-center justify-content-between">
                                  <div class="col">
                                    <span class="h6">TOP5 URI</span>
                                  </div>
                                  <div>
                                    <button type="button" class="shorten-url-widget-option-change-btn btn btn-secondary" data-interval="today">
                                      Today
                                    </button>
                                    <button type="button" class="shorten-url-widget-option-change-btn btn btn-outline-secondary" data-interval="week">
                                      Week
                                    </button>
                                    <button type="button" class="shorten-url-widget-option-change-btn btn btn-outline-secondary" data-interval="month">
                                      Month
                                    </button>
                                  </div>
                                </div>
                                <div class="widget-content p-1">
                                  <div id="shorten-url-widget-main-chart">
                                    <svg></svg>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- / WIDGET GROUP -->
                  <!-- 테이블 -->
                  <div class="widget-group row no-gutters">
                    <div class="col-12 p-1">
                      <div class="widget card">
                        <div class="widget-content p-4 dataTables_wrapper">
                          <div class="widget-header px-4 row no-gutters align-items-center justify-content-between">
                            <div class="col-8 col-sm-6 col-xl-4">
                              <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-icon fuse-ripple-ready" onclick="getShortenUrlList(0, 10)">
                                        <i class="icon icon-magnify"></i>
                                    </button>
                                </span>
                                <input type="text" id="search-input" class="form-control" placeholder="검색어">
                              </div>
                            </div>
                            <div>
                              <span class="badge badge-info">총 <span id="total-count">0</span>개</span>
                            </div>
                          </div>
                          <div class="table-responsive">
                            <table class="table table-striped" id="data-table">
                              <thead class="thead-dark">
                                <tr>
                                  <th class="shorten-uri-col">shortenUri</th>
                                  <th class="org-url-col">orgUrl</th>
                                  <th style="width: 200px;">action</th>
                                  <th>lastAccessDate</th>
                                  <th>regDate</th>
                                  <th>modDate</th>
                                </tr>
                              </thead>
                              <tbody>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- / 테이블 -->
                </div>
              </div>
              <!-- / CONTENT -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 수정 모달 -->
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-modal-label">수정</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="shorten-uri" class="form-control-label">shortenUri:</label>
              <input type="text" class="form-control" id="shorten-uri" />
            </div>
            <div class="form-group">
              <label for="org-url" class="form-control-label">orgUrl:</label>
              <input type="text" class="form-control" id="org-url" />
            </div>
            <input type="hidden" id="shorten-url-id" />
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-secondary" onclick="updateShortenUrl()">수정</button>
        </div>
      </div>
    </div>
  </div>
  <!-- / 수정 모달 -->
  <script type="text/javascript" src="/static/js/pages/admin/shorten-url.js"></script>
</main>
<th:block th:replace="~{common/footer :: footer}"></th:block>
</body>