server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
  tomcat:
    remoteip:
      remote-ip-header: X-Forwarded-For

spring:
  threads:
    virtual:
      enabled: true
  datasource:
    primary:
      driver-class-name: org.postgresql.Driver
      jdbc-url: ENC(vGPGnw9mIua1DuXRJA9fUBleJ8m0qcQPnLo43vXqe62M6hGo2yfGiCyuneSUFQsuntUmZJR/CgE=)
      username: ENC(/imwFu5Vio1C1ZMrOtOAPzsLTwTdj5so)
      password: ENC(Ogz9wvjOfDFisQZrp+hTLZU3/3F6uOVSxeBIPMuxWOQ=)
    replica:
      driver-class-name: org.postgresql.Driver
      jdbc-url: ENC(Ion1AeOFJCx9OJSZpf57dfNlMHPOsIVCDFj6NWq1dntljYb6WnYHUwpYioXTYZwj+cV60l7Ahfk=)
      username: ENC(qboGvjEoTiWm6NzzaFQAfcGJblh6Irgm)
      password: ENC(rg0liu6pBT2myF/92M6GqZAFq7719ycyYzjtJCbYZYo=)
  jooq:
    sql-dialect: postgres
  main:
    banner-mode: log
  data:
    redis:
      host: ENC(dbCk9Bp59xn8/UWo8V4i7GcGa5e5si/XYSm7bZDdhyP/HGc8M5clGLPTED8fcNrsh4T5+MBt8od0hSBCvtm8DVJYpIWZpo5/)
      port: 10212
      password: ENC(jviNW1UVjNAdIF27vWQ+D7Osnf8ISNAARKRw9uoM7vGR8nK2CRpigEN2zeYwG6Gy)

logging:
  level:
    root: error
    org.springframework.boot.SpringApplication: info
    org.springframework.boot: error
    org.springframework.web: error
    org.springframework.security: error
    org.jooq.tools.LoggerListener: error
    us.puter.park: info
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%5p] [%thread] %logger - %msg%n"
  file:
    name: ./logs/park-api.log
  logback:
    rollingpolicy:
      file-name-pattern: ./logs/park-api_%d{yyyy-MM-dd}_%i.log
      max-history: 30
      max-file-size: 20MB

jwt:
  secret: ENC(Kqgk+sIHPid/OgtxQVlvKxC3ITSckOc0kgCu3O1pvxS7qCGQvKglynX8wTI4OlrXdmGgCs4HKk0hyZ6xfCCuRea0MpKr1QS22aOiFx/708ngh/UoYmDqgsGfSbeM9j+Y9kVV7QtabIFFboIoVt+iFuZc5BeAjw97oSfCjtmfw84ZkVBYXfR8fcgQ6e/C2aE1)
  access-token-valid-second: 7200
  refresh-token-valid-second: 86400

system:
  # AES256 암호화 키
  secret-key: ENC(+AELjXx6FNZWgtHBrxm9KHa2nvungAasXt+3bj1+AkGMzPis4xuG9/ty77c5FlZj)
  # CORS Allowed Origin
  cors-allowed-origin: puter.us,tool.puter.us
  # Html title
  title: PUTER.US
  # QR Code 크기 (단위: px)
  qr-code-size: 250
  shorten-uri:
    # shorten-uri 길이
    length: 6