<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{common/head :: head}"></th:block>
  <script type="text/javascript" src="/static/js/mousetrap.min.js"></script>
  <script type="text/javascript" src="/static/js/sweetalert.min.js"></script>
  <script type="text/javascript" src="/static/js/pages/tools/password.js"></script>
  <style>
      button {
          transition: all 0.1s ease-in-out;
      }
  </style>
</head>
<body class="layout layout-vertical layout-left-navigation layout-below-toolbar">
<main>
  <div id="wrapper">
    <th:block th:replace="~{common/menu :: menu}"></th:block>
    <div class="content-wrapper">
      <div class="content custom-scrollbar">
        <div id="project-dashboard" class="page-layout simple right-sidebar">
          <div class="page-content-wrapper custom-scrollbar">
            <th:block th:replace="~{common/top :: top}"></th:block>
            <!-- CONTENT -->
            <div class="page-content">
              <th:block th:replace="~{common/top-menu :: top-menu}"></th:block>
              <div class="tab-content">
                <div class="tab-pane fade show active p-2" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                  <!-- WIDGET GROUP -->
                  <div class="widget-group row no-gutters adsense">
                    <th:block th:replace="~{common/adsense :: adsense}"></th:block>
                  </div>
                  <div class="widget-group row no-gutters">
                    <div class="col-12 p-1">
                      <div class="widget widget5 card">
                        <div class="widget-content p-4">
                          <div class="row">
                            <div class="col-12">
                              <span class="badge badge-secondary">비밀번호</span>
                              <div class="form-group">
                                <textarea class="form-control" id="password" rows="3" style="resize: none;" onclick="copy()" readonly></textarea>
                              </div>
                            </div>
                            <div class="col-12 col-xl-4">
                              <span class="badge badge-info">길이</span>
                              <div class="form-group">
                                <input class="form-control md-has-value" type="number" value="12" id="pw-length">
                                <label for="pw-length"></label>
                              </div>
                            </div>
                            <div class="col-12">
                              <span class="badge" style="background-color: var(--green);">Option</span>
                              <div class="form-group">
                                <button type="button" class="btn btn-secondary mb-2" id="upper" value="Y">ABC</button>
                                <button type="button" class="btn btn-warning mb-2" id="lower" value="Y" style="text-transform: lowercase;">abc</button>
                                <button type="button" class="btn btn-success mb-2" id="number" value="Y">123</button>
                                <button type="button" class="btn btn-outline-info mb-2" id="special" value="N">!@#</button>
                                <button type="button" class="btn btn-outline-danger mb-2" id="confuse" value="N">!?</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="widget-group row no-gutters adfit">
                    <th:block th:replace="~{common/adfit :: adfit}"></th:block>
                  </div>
                  <!-- / WIDGET GROUP -->
                </div>
              </div>
            </div>
            <!-- / CONTENT -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<th:block th:replace="~{common/footer :: footer}"></th:block>
</body>
</html>