<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{common/head :: head}"></th:block>
  <script type="text/javascript" src="/static/js/mousetrap.min.js"></script>
  <script type="text/javascript" src="/static/js/sweetalert.min.js"></script>
  <script type="text/javascript" src="/static/js/QRCode.min.js"></script>
</head>
<body class="layout layout-vertical layout-left-navigation layout-below-toolbar">
<main>
  <div id="wrapper">
    <th:block th:replace="~{common/menu :: menu}"></th:block>
    <div class="content-wrapper">
      <div class="content custom-scrollbar">
        <div id="project-dashboard" class="page-layout simple right-sidebar">
          <div class="page-content-wrapper custom-scrollbar">
            <th:block th:replace="~{common/top :: top}"></th:block>
            <!-- CONTENT -->
            <div class="page-content">
              <th:block th:replace="~{common/top-menu :: top-menu}"></th:block>
              <div class="tab-content">
                <div class="tab-pane fade show active p-2" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                  <!-- WIDGET GROUP -->
                  <div class="widget-group row no-gutters adfit">
                    <th:block th:replace="~{common/adfit :: adfit}"></th:block>
                  </div>
                  <div class="widget-group row no-gutters">
                    <div class="col-12 p-1">
                      <div class="widget widget5 card">
                        <div class="widget-content p-4">
                          <div class="row">
                            <div class="col-12 col-lg-6">
                              <span class="badge badge-secondary">입력</span>
                              <div class="form-group">
                                <textarea class="form-control" id="textarea" rows="3" onkeyup="makeCode()" onkeydown="makeCode()"></textarea>
                                <label for="textarea">여기에 입력하세요.</label>
                              </div>
                            </div>
                            <div class="col-12 col-lg-6">
                              <span id="result-badge" class="badge badge-warning hidden">QR Code</span>
                              <div class="form-group">
                                <div id="qrCode"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- / WIDGET GROUP -->
                </div>
              </div>
            </div>
            <!-- / CONTENT -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<th:block th:replace="~{common/footer :: footer}"></th:block>
<input type="hidden" id="qrCodeSize" th:value="${qrCodeSize}" />
<script type="text/javascript" src="/static/js/pages/tools/qrcode.js"></script>
</body>